/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
!discord_game_sdk.so
*.o
*.a
mkmf.log
*.swp
vendor
Gemfile.lock

conan*
!conanfile.py
graph_info.json
/ruby
/build
